version: "3.9"

services:
  app:
    build: .
    container_name: chat_server
    ports:
      - "8080:8080"
    environment:
      - DB_SERVER=db
      - DB_PORT=5432
      - DB_USERNAME=chat_user
      - DB_PASSWORD=chat_pass
      - DB_NAME=chat_db
      - APP_ENV=development
      - SERVER_PORT=8080
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:16
    container_name: chat_postgres
    restart: always
    environment:
      POSTGRES_USER: chat_user
      POSTGRES_PASSWORD: chat_pass
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
